{% extends "blog/base.html" %}
        {%block content%}
            
            {% for blog in blogPost%}
            <article class="media content-section">
                <div class="media-body">
                  <div class="article-metadata">
                    <a class="mr-2" href="#">{{ blog.author }}</a>
                    <small class="text-muted">{{ blog.publishDate }}</small>
                  </div>
                  <h2><a class="article-title" href="#">{{ blog.title }}</a></h2>
                  <p class="article-content">{{ blog.description }}</p>
                </div>
            </article>
        {% endfor%}
{%endblock%}

